@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
  
  /* Bütçe uygulaması için ek renkler */
  --primary: 222 84% 53%;
  --primary-foreground: 0 0% 100%;
  --success: 142 76% 36%;
  --warning: 48 96% 40%;
  --danger: 0 74% 51%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 93%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}
